header {
    display: flex;
    background-color:#E97F33;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    justify-content: space-between;
}


nav{
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color:#FFFFFF;
    font-size:22px;
    font-family: "Nunito";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #F25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button{
    display: inline-block;
    background-color: #2F82E3;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
}

#button:hover{
    background-color: #F25a70;

}